body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h2 {
    text-align: center;
    color: #333;
}

.art-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.art-item {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: box-shadow 0.3s ease;
}

.art-item:hover {
    box-shadow: 0 8px 16px rgba(186, 27, 27, 0.872);
}

.art-item img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    margin-bottom: 10px;
}

p {
    margin: 0;
    color: #666;
}


input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
    
}


container {
    height: 10vh; /* Set the desired height for your div */
  }


  .button-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px; /* Add padding to the button container if needed */
  }

